<header class="site-header">
    <div class="container">
      
    <p>DEBUG: {{ page.url }}</p>
    <p>DEBUG: {{ siteinfo.baseUrl }}</p>

    <p>
    {% if page.url == '/' %}
      <h1 class="display-6">{{ siteinfo.siteName }}</h1>
      <h3>{{ siteinfo.siteDescription }}</h3>
    
    {% else %}
      <h1 class="display-6">Welcome</h1>
      <p>Explore our site!</p>
    {% endif %}
    </p>

    </div>
</header>

