<header class="site-header">
    <div class="container">

        {% if title == "Home" %}
        <h1 class="display-6">{{ localdata.siteName | default: localdata.siteName }}</h1>
        <h3>{{ localdata.siteDescription | default: localdata.siteDescription }}</h3>

        {% else %}
    
        <h1 class="display-6">{{ localdata.siteName | default: localdata.siteName }} &middot; {{ title }}</h1> 
            </h1>
       
        {% endif %}

    </div>
</header>

