<header class="site-header">
    <div class="container">
      
    <p>DEBUG: {{ page.url }}</p>
    <p>DEBUG: {{ siteinfo.baseUrl }}</p>

    {% if page.url is '/' %}
      <h1 class="display-6">{{ siteName }}</h1>
      <h3>{{ siteDescription }}</h3>
    
    {% elsif page.url is '/contact' %}
      <h1 class="display-6">Contact</h1>
      <p>Learn more about what we do.</p>
    
    {% elsif page.url is '/posts' %}
      <h1 class="display-6">Blog Posts</h1>
      <p>Read our latest updates and articles.</p>
    
    {% else %}
      <h1 class="display-6">Welcome</h1>
      <p>Explore our site!</p>
    {% endif %}

    </div>
</header>

